.images {
    height: 200px;
    width: 200px;
}

.card-text {
    color: #B8B4A7;
}

.card-title {
    color: #F3B2FE
}

.cupCakeImg {
    margin-right: 10rem;
}
.deal {
    color: rgb(247, 115, 214);
}
.orderHistory{
    color: rgb(247, 115, 214);
}
.hr{
    margin-top: 100px;
    background-color: rgb(247, 115, 214) 
}

