.images {
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.card-text {
    color: #B8B4A7;
}

.card-title {
    color: #F3B2FE
}

.cupCakeImg {
    margin-right: 10rem;
}

.card-img-top {
    max-width: 560px;
    margin-left: 25%;
}