@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}

<!-- @Html.Partial("~/Views/Partials/SectionHeader.cshtml") -->
<hr>
<section class="section">

    <div class="container">

        <div class="col-md-3">
            <nav class="nav-bar nav-bar--list">
                @Html.Partial("~/Views/Partials/Navigation/SubNavigation.cshtml")
            </nav>
        </div>

        <div class="col-md-9">
            <h1>Shopping Cart</h1>
            <h5>Name Price</h5>
            <div class="cart-body"></div>
        </div>
    </div>

</section>