@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}

<hr>
<head>
<div class="container container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-xl-6">
            <nav class="nav-bar nav-bar--list">
                @Html.Partial("~/Views/Partials/Navigation/SubNavigation.cshtml")
            </nav>
        </div>
    </div>
     <div class="row mb-5 mt-5">
        <div class="col-sm-6 col-md-4 col-xl-6">
            <h1>Shopping Cart</h1>  
        </div>
     </div>
    <div class="cart-body"></div>
    <div class="row total-amount mt-5 mb-5"></div>
</div>
</head>

<div class="row orderHistory">
    <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">There is no order history</th>
                </tr>
              </thead>
    </table>
</div>
