@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}

<!-- @Html.Partial("~/Views/Partials/SectionHeader.cshtml") -->
<hr>

<div class="container container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-xl-6">
            <nav class="nav-bar nav-bar--list">
                @Html.Partial("~/Views/Partials/Navigation/SubNavigation.cshtml")
            </nav>
        </div>
    </div>

    <div class="row mb-5 mt-5">
        <div class="col-sm-6 col-md-4 col-xl-6">
            <h1>Shopping Cart</h1>  
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-6 col-md-4 col-xl-4">
            <h5>Product name</h5>
        </div>
         <div class="col-sm-6 col-md-4 col-xl-2">
            <h5>Price</h5>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-2">
            <h5>Currency</h5>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-2">
          <h5>Quantity</h5>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-2">
            <h5>Sum</h5>
        </div>
    </div>
    
    <div class="cart-body"></div>
    <div class="row total-amount mt-5 mb-5"></div>
    
</div>