@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "master.cshtml";
}

@* the fun starts here *@

<hr>

<div class="container container-fluid">
	<div class="row mb-3">
		<div class="col-sm-6 col-md-6 col-xl-6 ">
			<img class="img-fluid images" src="/media/ltzkt054/joshua-glass-vilfdijcfvi-unsplash.jpg">
		</div>
		<div class="col-sm-6 col-md-6 col-xl-6">
			<h4>@Model.Value("shoppingCartName")</h4>
			<div class="cart-content">
				
			</div>
			<div class="total">
				</div>
			
			
		</div>
	</div>

